* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
}
body {
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  /*text-align: center;*/
  background-color: grey;
}
#main {
  background-color: rgb(250, 219, 219);
  width: 80%;
  margin: auto;
}
#image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: auto;
  display: block;
  border: 50px solid rgba(0, 0, 0);
  /*object-fit: fill;*/
}

#title {
  text-align: center;
  background-color: rgb(221, 142, 45);
  padding: 50px;
  width: 100%;
  margin: 0 auto;
}
#title-p {
  text-align: center;
  margin: 0 auto;
  margin-top: -50px;
}
#img-div {
  margin: 20px auto;
  width: 100%;
}
#img-caption {
  text-align: center;
  padding: 10px 200px;
  display: block;
}
h2 {
  text-align: center;
  text-decoration: overline;
  text-decoration-color: rgb(221, 142, 45);
  padding: 10px;

}
#h2-lorem {
  padding: 10px 100px;
  text-align: justify;
  margin-top: 0;
}
ul {
  margin: auto;
  padding: 20px 120px 0px 120px;
  width: 80%;
}

ul > li {
  text-align: right;
  font-weight: bold;
  color: rgb(18, 84, 18);
  padding: 0 10px;
  width: 100%;
  list-style: none;
}
li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
ul > li > p {
  display: inline-block;
  font-size: 0.85em;
  font-weight: normal;
  color: black;
  width: 100%;
  text-align: justify;
  text-indent: 2.5em;
  padding: 10px;
  margin-top: -5px;
}
#honeyway {
  font-size: 0.75em;
  font-weight: 100;
  text-align: right;
  width: 100%;
  padding: 10px 250px;
}
#honeyway-s {
  font-style: italic;
  font-weight: bold;
  display: block;
  padding-top: 10px;
}
hr {
  width: 60%;
  border: 1px solid grey;
}
#tribute-info {
  background-color: rgb(18, 84, 18);
  text-align: center;
  font-size: 1em;
  padding: 50px 100px;
  margin-bottom: 0;
  color: aliceblue;
}
#tribute-info a {
  color: rgb(24, 23, 23);
  text-decoration: none;
  font-weight: bold;
}
#tribute-info a:hover {
  color: rgb(153, 98, 98);
  cursor: pointer;
}
